body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
  color: #333;
  background-color: rgb(218, 198, 198);
}

header {
  padding: 1rem;
}

.links-nav {
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
}

a:hover {
  font-style: italic;
}