body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  padding: 1rem;
}

.info {
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}